.aboutContainer {
    padding: 8px 32px 8px 32px;
}
.blackQuote {
    border-left: solid 4px #1b3154;
}

.blackQuote p {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.35em;
    margin: 1em 1em 1em 0;
    padding: 1em 1em 0 20px;
}